pip install Cheetah==2.4.4
pip install Flask==0.9
pip install Flask-HTTPAuth==2.7.0
pip install Flask-Login==0.1.3
pip install Jinja2==2.7.2
pip install Landscape-Client==14.12
pip install MarkupSafe==0.18
pip install PAM==0.4.2
pip install PyYAML==3.10
pip install SQLAlchemy==0.8.4
pip install SecretStorage==2.0.0
pip install Twisted-Core==13.2.0
pip install Twisted-Names==13.2.0
pip install Twisted-Web==13.2.0
pip install Werkzeug==0.8.3
pip install apt-xapian-index==0.45
pip install argparse==1.2.1
pip install bleach==1.4.2
pip install blinker==1.3
pip install chardet==2.0.1
pip install cloud-init==0.7.5
pip install colorama==0.2.5
pip install configobj==4.7.2
pip install html5lib==0.999
pip install httplib2==0.9.2
pip install itsdangerous==0.22
pip install jsonpatch==1.3
pip install jsonpointer==1.0
pip install keyring==3.5
pip install launchpadlib==1.10.2
pip install lazr.restfulclient==0.13.3
pip install lazr.uri==1.0.3
pip install oauth==1.0.1
pip install oauth2client==1.5.1
pip install passlib==1.6.5
pip install prettytable==0.7.2
pip install psycopg2==2.4.5
pip install pyOpenSSL==0.13
pip install pyasn1==0.1.9
pip install pyasn1-modules==0.0.8
pip install pycrypto==2.6.1
pip install pycurl==7.19.3
pip install pygobject==3.12.0
pip install pyinotify==0.9.4
pip install pyserial==2.6
pip install python-apt==0.9.3.5ubuntu1
pip install python-debian==0.1.21-nmu2ubuntu2
pip install redis==2.10.5
pip install requests==2.2.1
pip install rsa==3.2.3
pip install simplejson==3.3.1
pip install six==1.10.0
pip install ssh-import-id==3.21
pip install urllib3==1.7.1
pip install wadllib==1.3.2
pip install wheel==0.24.0
pip install wsgiref==0.1.2
pip install zope.interface==4.0.5
