{% extends "main.html" %}
{% block content %}
  <div class="row top-menu">
	<div class="col-md-10"></div>
	<div class="col-md-2 text-right">
		<a href="{{url_for('showLogin')}}">Login to rent or share</a>
	</div>
  </div>
  <div class="row divider blue">
	<div class="col-md-12"></div>
  </div>
  <div class="row banner main">
	<div class="col-md-1"></div>
	<div class="col-md-11 padding-none">
	  <h1>Share Stuff</h1>
	</div>
  </div>


	{% for product in products %}
		<a href = "{{url_for('productDetails', product_id = product.product_id)}}">
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 restaurant-list">
						<h2>{{product.name}}</h2>
						<h3>{{product.description}}</h3>
						<h3>Deposit: ${{product.deposit}}</h3>
						<h3>Days available to rent: {{product.max_days}} days</h3>

					</div>
				<div class="col-md-1"></div>
			</div>
		</a>
	{% endfor %}
{% endblock %}