<html>
<body>
<h1> New Product for Rent </h1>

<form action="{{url_for('newListing', user_id=user_id )}}" method = 'POST'>

Name: <input type='text' size='30' name='name'>

<p>Description: <input type='text' size='30' name='description'>

<p>Category: <input type='text' size='30' name='category'>

<p>Identifier: <input type='text' size='30' name='identifier'>

<p>Identifier Value: <input type='text' size='30' name='identifier_value'>

<p>Deposit: <input type='text' size='30' name='deposit'>

<p>Max Days: <input type='text' size='30' name='max_days'>

<p> <input type='submit' value='Create'>

</form>

</body>
</html>